<video width="480" height="360" controls>
  <source src="video.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
      Your browser does not support the video tag.
    </video>

<p> made by DEAD POETS SOCIETY </p>
